---json
{
  "permalink": "feed.xml",
  "eleventyExcludeFromCollections": true,
  "metadata": {
    "title": "Sentiers",
    "subtitle": "Making sense of a world in constant change.",
    "url": "https://sentiers.media/",
    "feedUrl": "https://sentiers.media/feed.xml",
    "author": {
      "name": "Patrick Tanguay",
      "email": "patrick@sentiers.media"
    }
  }
}
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ metadata.title }}</title>
  <subtitle>{{ metadata.subtitle }}</subtitle>
  <link href="{{ metadata.feedUrl }}" rel="self"/>
  <link href="{{ metadata.url }}"/>
  <updated>{{ collections.issues | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
  <id>{{ metadata.url }}</id>
  <author>
    <name>{{ metadata.author.name }}</name>
    <email>{{ metadata.author.email }}</email>
  </author>
  {% set issueslist = collections.issues | head(-10) %}
  {%- for issue in issueslist |reverse %}
  {% set absolutePostUrl %}{{ issue.url | url | absoluteUrl(metadata.url) }}{% endset %}
  <entry>
    <title>{{ issue.data.title }}</title>
    <link href="{{ absolutePostUrl }}"/>
    <updated>{{ issue.date | dateToRfc3339 }}</updated>
    <id>{{ absolutePostUrl }}</id>
    <content type="html">{{ issue.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}</content>
  </entry>
  {%- endfor %}
</feed>