---
layout: layouts/base.njk
templateClass: tmpl-dispatch
---
{# 	Left here so nothing breaks, but you don't have to use it. 
		There is no demo of the dispatch pages, I left this part here so you can better understand some of the other code decisions. On my version of this theme, I have articles, members articles (Dispatches), the newsletter issues, and notes. #}