<link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
<script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
<div class="boxed">
	<h4>Get in touch</h4>
	<p>Don’t hesitate to contact me if you have questions on topics from the newsletter or to discuss opportunities and collaborations.</p>
	<p><strong class="caps">Send me an email &rarr;</strong> <a href="mailto:you@yourdomain.com">you@yourdomain.com</a></p>
	<p><a href="#" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/yoururl'});return false;" class="button sml">Book a chat</a></p>
</div>