<form action="https://duckduckgo.com/" method="get" class="search oneline" target="_blank">
	<input type="search" name="q" id="search-term" class="search-txt" autocomplete="off" placeholder="Search..." />
	<input aria-hidden="true" hidden="" name="sites" value="sentiers.media" />

	<button type="submit" class="button">Search</button>

</form>
