---
title: 'Positive sum worlds: remaking public goods ⊗ Everyone should decide how their digital data are used ⊗ Lithium landscapes'
permalink: /positive-sum-worlds-remaking-public-goods-everyone-should-decide-how-their-digital-data-are-used-not-just-tech-companies-lithium-landscapes-no-181/
layout: issue
eleventyComputed:
	thisissue: 'No181'
	issueimage: 'tumblr_09ae750ffaa2a7009c70c9106e1fda60_b0896cbf_1280.jpg'
	imageformat: 'v'
	imagesource: https://dailyoverview.tumblr.com/post/655994035479134208/oyster-farms-are-visible-off-the-coast-of-cancale
	imagesourcettl: 'Oyster farms are visible off the coast of Cancale, France. Known as the oyster capital of Brittany, this three-square-mile (7.3 km) area produces roughly 25,000 tons of oysters each year.'
eleventyNavigation:
  key: 'No181'
excerpt: 'The REALIST stack ⊗ Turn it all off ⊗ First you make the maps ⊗ Wildfires are detected by satellites several times per day ⊗ Billionaires won’t succeed in “escaping” to space ⊗ System for Connected Living'
date: 2021-07-11
---
{% markdown %}
This is one of my own newsletter issues, left here as a demo. 
[Subscribe to the real thing here](https://sentiers.media).{.boxed}

**This week →**{.caps} Positive sum worlds: remaking public goods ⊗ Everyone should decide how their digital data are used — not just tech companies ⊗ Lithium landscapes ⊗ The REALIST stack ⊗ Turn it all off ⊗ First you make the maps

**A year ago →**{.caps} The most clicked article in [issue No.134](https://sentiers.media/tolentino-on-the-discipline-of-hope-liminal-space-artificial-intelligence-shifts-power-no-134/) was [Ask a Sane Person: Jia Tolentino on Practicing the Discipline of Hope](https://www.interviewmagazine.com/culture/ask-a-sane-person-jia-tolentino-book-2020-hope).
{% endmarkdown %}