---
title: 'Dancing with systems ⊗ Unboxing the toolkit ⊗ Cartographic evidence of invisible cities'
permalink: /dancing-with-systems-unboxing-the-toolkit--cartographic-evidence-of-invisible-cities-no-182/
layout: issue
eleventyComputed:
	thisissue: 'No182'
	issueimage: '2018_Nakagin_Capsule_Tower_img.jpg'
	imageformat: 'v'
	imagesource: https://www.thenation.com/article/society/oceanix-city-architecture-megastructure/
	imagesourcettl: 'The Nakagin Capsule Tower in Tokyo, one of the few Metabolist projects that was actually built, has fallen into disrepair. (CC 4.0)'
eleventyNavigation:
  key: 'No182'
excerpt: 'Why does utopian architecture suck? ⊗ Is content moderation a dead end? ⊗ Why NASA keeps sending squid into space ⊗ Discourses of Climate Delay ⊗ Digital twins offer “a very powerful way of developing our cities” ⊗ The nature reserve with a 500-year plan'
date: 2021-07-18
---
{% markdown %}
This is one of my own newsletter issues, left here as a demo. 
[Subscribe to the real thing here](https://sentiers.media).{.boxed}

**This week →**{.caps} Dancing with systems ⊗ Unboxing the toolkit ⊗ Cartographic evidence of invisible cities ⊗ Why does utopian architecture suck? ⊗ Is content moderation a dead end? ⊗ Why NASA keeps sending squid into space

**A year ago →**{.caps} The most clicked article in [issue No.135](https://sentiers.media/come-for-the-network-pay-for-the-tool-stories-on-earth-the-paradox-of-individual-creative-work-no-135/) was [Come for the Network, Pay for the Tool](https://subpixel.space/entries/come-for-the-network-pay-for-the-tool/) by Toby Shorin.
{% endmarkdown %}